/* Hero.css - Styles for the Hero component */

.hero-section {
  padding: 1.25rem 10rem;
  display: flex;
  flex: 1;
  justify-content: center;
}
.hero-content-container {
  max-width: 960px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.hero-inner {
  min-height: 480px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 1rem;
}
.hero-title {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: -0.033em;
  text-align: center;
}
.hero-subtitle {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}
.hero-btn {
  display: flex;
  min-width: 84px;
  max-width: 480px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 0.5rem;
  height: 2.5rem;
  padding: 0 1.25rem;
  background: #f27f0c;
  color: #1c140d;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.015em;
  border: none;
  transition: background 0.2s;
}
.hero-btn:hover, .hero-btn:focus {
  background: #d96e0a;
  outline: none;
}
